@import '../../scss/mixins';


.quick_menu {
  
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;

  li:nth-child(2) {
    margin: 0.3rem 0;
  }

  a {
    .icon {
      @include flex-center;
      width: 95px;
      height: 95px;
      border-radius: 50px;
     
      position: relative;
      z-index: 999;
    }

    .label {
      display: flex;
      align-items: center;
      padding-left: 30px;
      position: absolute;
      right: 0;
 
      font-size: 18px;
      background-color: #ADADAD;   
      width: 95px;
      height: 95px;
      border-radius: 50px;
    }
    
    &:hover {

      .label {
        width: 220%;
      }
    }
  }
}