  .container_1280 {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .container_1450 {
    max-width: 1450px;
    margin: 0 auto;
  }
  
  .container_1650 {
    max-width: 1650px;
    margin: 0 auto;
  }
  .max-width-none{
    max-width: none !important;
  }
  

  .position-unset{
    position: unset !important;
  }
  
  .background-none{
    background: unset !important;
  }

 .pre-900 {
    font-family: "Pretendard-900", sans-serif;
   
  }

  .pre-800 {
    font-family: "Pretendard-800", sans-serif;
    
  }

  .pre-700 {
    font-family: "Pretendard-700", sans-serif;
   
  }

  .pre-600 {
    font-family: "Pretendard-600", sans-serif;
   
  }

  .pre-500 {
    font-family: "Pretendard-500", sans-serif;
    
  }

  .pre-400 {
    font-family: "Pretendard-400", sans-serif;
    
  }

  .pre-300 {
    font-family: "Pretendard-300", sans-serif;
    
  }

  .pre-200 {
    font-family: "Pretendard-200", sans-serif;
    
  }

  .pre-100 {
    font-family: "Pretendard-100", sans-serif;
    
  }

  .mainColor-bg{
    background-color: #713131;
  }
  .basic-text{
    color: #0000;
  }